.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--gutter-xxs) var(--gutter-xs);

  cursor: pointer;

  color: var(--color-text);
  border: none;
  border-radius: var(--border-radius-m);
  background: none;

  font-family: var(--font-noto-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  gap: var(--gutter-xxs);
}

.Primary {
  color: var(--color-text-primary-inverted);

  background-color: var(--color-button-primary);

  &:disabled {
    cursor: not-allowed;

    color: var(--color-text-disabled-inverted);
    background-color: var(--color-button-primary-disabled);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-button-primary-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--color-button-primary-active);
  }
}

.Secondary {
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-button-secondary);

  &:disabled {
    cursor: not-allowed;

    color: var(--color-text-disabled);
    background-color: var(--color-button-secondary-disabled);
  }

  &:hover:not(:disabled) {
    background-color: var(--color-button-secondary-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--color-button-secondary-active);
  }
}

.FullWidth {
  width: 100%;
}
