.Wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter-m);
}

.Header {
  display: grid;
  grid-template: 'title tag sort' / auto 1fr auto;
  place-items: center left;
  gap: var(--gutter-xxs) var(--gutter-m);

  @media (width < 768px) {
    grid-template: 'title tag' 'sort sort' / auto 1fr;

    align-items: baseline;
  }
}

.Title {
  grid-area: title;

  hyphens: auto;
}

.Tag {
  grid-area: tag;
}

.Sort {
  grid-area: sort;
}

.ProductsBlock {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-l);

  padding: 0;

  list-style: none;
}
