/* stylelint-disable custom-property-empty-line-before */
:root {
  --color-text-primary: #3b434e;
  --color-text-primary-inverted: #fff;
  --color-text-success: #1dc37e;

  --color-background-primary: #f5f6f8;
  --color-background-secondary: #fff;

  --color-fill-primary: #7653fc;
  --color-fill-error: #de0000;
  --color-fill-success: #c8f8e4;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  font-family: var(--font-noto-sans);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
