// .Menu {
// }

.FirstLevelMenu {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;

  align-items: center;

  &:hover {
    color: var(--color-text-active);
  }
}

.FirstLevelMenuActive {
  color: var(--color-text-active);
}

.SecondLevelMenu {
  text-transform: uppercase;

  color: var(--color-text-secondary);
}

.SecondBlock {
  margin-left: var(--gutter-xs);
  padding-top: var(--gutter-s);
  padding-left: var(--gutter-xxl);

  border-left: 1px solid var(--color-border-primary);
}

.ThirdLevelLink {
  margin-bottom: 10px;

  cursor: pointer;

  outline-offset: -1px;

  &:hover {
    color: var(--color-text-active);
  }
}

.ThirdLevelLinkActive {
  color: var(--color-text-active);
}

.SecondLevelBlock {
  overflow: hidden;
}

.SecondCategoryButton {
  margin-bottom: var(--gutter-xxs);

  cursor: pointer;

  border: 0;
  background: none;
}
