/* stylelint-disable selector-class-pattern */
.H1 {
  font-family: var(--font-noto-sans);
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
}

.H2 {
  font-family: var(--font-noto-sans);
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.H3 {
  font-family: var(--font-noto-sans);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.Text14 {
  font-family: var(--font-noto-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.Text16 {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.Text18 {
  font-family: var(--font-noto-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.Caption20 {
  font-family: var(--font-noto-sans);
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.TextBold16 {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.TextBold20 {
  font-family: var(--font-noto-sans);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.TextBold26 {
  font-family: var(--font-noto-sans);
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.TextBold36 {
  font-family: var(--font-noto-sans);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}
