.Title {
  margin-bottom: var(--gutter-l);
}

.Advantage {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: var(--gutter-xxs) var(--gutter-xxl);

  &:not(:last-of-type) {
    margin-bottom: var(--gutter-xs);
  }
}

.ItemTitle {
  align-self: center;
}

.Hr {
  justify-self: center;

  border: 1px solid var(--color-border-primary);
}
