.MainLayout {
  display: grid;

  min-height: 100vh;
  gap: var(--gutter-xxl);
  grid-template:
    '. header header .' auto
    '. sidebar body .' 1fr
    'footer footer footer footer' auto
    / auto 230px minmax(320px, 1200px) auto;

  @media (width < 1280px) {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      'header'
      'body'
      'footer';
  }

  @media (width < 768px) {
    gap: var(--gutter-xs);
  }
}

.Header {
  grid-area: header;

  display: none;

  @media (width < 1280px) {
    display: block;
  }
}

.Sidebar {
  grid-area: sidebar;

  @media (width < 1280px) {
    display: none;
  }
}

.Content {
  grid-area: body;

  @media (width < 1280px) {
    padding: 0 var(--gutter-xs);
  }
}

.Footer {
  grid-area: footer;
}
