.MainLayout {
  display: grid;

  min-height: 100vh;
  gap: 0 30px;

  grid-template:
    '. header header .' auto
    '. sidebar body .' 1fr
    'footer footer footer footer' auto
    / auto 230px minmax(320px, 1200px) auto;
}

.Header {
  grid-area: header;

  display: none;
}

.Sidebar {
  grid-area: sidebar;
}

.Content {
  grid-area: body;
}

.Footer {
  grid-area: footer;
}

@media (width <= 765px) {
  .MainLayout {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      'header'
      'body'
      'footer';
  }

  .Sidebar {
    display: none;
  }

  .Header {
    display: block;
  }
}
