.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-color: var(--color-background-primary);
}

.Card {
  display: flex;
  flex-direction: column;

  padding: var(--gutter-l);

  text-align: center;
  gap: var(--gutter-xs);
}
